

/*h2,body {
    background: linear-gradient(to right, #9933ff, #0099ff);
    margin: 60px auto;
    width: 70%;
}*/


.big-text{
    background-image: -webkit-linear-gradient(to right, #9933ff, #0099ff);
    background-image: linear-gradient(to right, #9933ff, #0099ff);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.footer {
    width: 100%; 
    height: 2em;  
    bottom: 0px; 
    font-size: 50%;
}
.hidden {
     display:none;
}                             

.col-md-6 {                    
  margin-bottom: 1em;
} 

